@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('simlaunch/fonts/inter-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('simlaunch/fonts/jetbrains-mono-v24-latin-regular.woff2') format('woff2');
}

@import "tailwindcss";

@theme {
    --color-clk-accent: var(--color-orange-600);
    --color-clk-background: var(--color-zinc-950);
    --color-clk-primary: var(--color-zinc-900);
    --color-clk-secondary: var(--color-zinc-800);

    --color-red: var(--color-rose-600);
    --color-blue: var(--color-cyan-600);
    --color-yellow: var(--color-yellow-600);
    --color-green: var(--color-green-600);

    --color-clk-text-primary: var(--color-zinc-100);
    --color-clk-text-secondary: var(--color-zinc-400);
    --color-clk-text-graph: var(--color-zinc-500);
 
    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-mono: "Jetbrains Mono", ui-monospace, monospace;
}

:root {
    background-color: var(--color-clk-background);
}