---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

import Card from "../components/Card";

import FieldPlots from "../components/FieldPlots";
import SidePlots from "../components/SidePlots";
import FlywheelSlider from "../components/FlywheelSlider";
import CompassSlider from "../components/CompassSlider";
import ErrorBar from '../components/ThresholdBar';
import ImpactReading from '../components/ImpactReading';
import ConfidenceReading from "../components/ConfidenceReading";

---

<Layout>
    <main class="grid grid-cols-2 grid-rows-4 md:grid-cols-4 md:grid-rows-3 max-w-320 w-full h-full gap-0" 
            id="content">
        <FieldPlots client:only/>
        <SidePlots client:only/>

        <Card className="not-md:order-last col-span-1 row-span-1">
            <div class="flex flex-row justify-between size-full">
                <ErrorBar type="impactError" client:only />
                <ImpactReading client:load/>
            </div>
        </Card>

        <Card className="col-span-2 row-span-1">
            <div class="h-full w-full grid grid-cols-2 grid-rows-1 overflow-hidden">
                <FlywheelSlider client:load/>
                <CompassSlider client:load/>
            </div>
        </Card>

        <Card className="col-span-1 row-span-1">
            <div class="flex flex-row justify-between size-full">
                <ConfidenceReading client:load />
                <ErrorBar type="confidence" client:only />
            </div>
        </Card>
    </main>
</Layout>
