---

import SideBarToggle from "./buttons/SideBarToggle"
import ConfigSettings from "./settings/ConfigSettings"

const clockLink = import.meta.env.PUBLIC_CLOCKWORKS_LINK;
const githubLink = import.meta.env.PUBLIC_GITHUB_LINK;

---

<aside class="fixed lg:relative left-0 z-50 w-0 min-w-0 h-full transition-all duration-300 ease-in-out
        flex flex-col justify-start overflow-hidden" 
        id="sidebar">
    <div class="absolute top-0 right-0 h-full w-screen md:w-full
            flex flex-col justify-start bg-clk-secondary overflow-hidden whitespace-nowrap"
            id="sidebar-inner">
        <div class="flex flex-row justify-end py-2 max-h-14 border-b-2 border-clk-text-secondary/20">
            <SideBarToggle client:load type="close"/>
        </div>
    
        <div class="overflow-y-auto h-full sidebar-scrollbar">
            <ConfigSettings client:load />
        </div>

        <div class="flex flex-col border-t-2 border-clk-text-secondary/20 font-mono">
            <span class="flex flex-row justify-end text-right p-1 px-2 hover:bg-clk-primary">
                <a href={clockLink} target="_blank">
                    FTC Team Clockworks <br>
                    #19075
                </a>
            </span>

            <span class="flex flex-row justify-end text-right pb-2 pt-1 px-2 text-sm hover:bg-clk-primary">
                <a href={githubLink} target="_blank">
                    © Adrian Roșu 2026
                </a>
            </span>
        </div>
    </div>
</aside>
<script>
    import { $isSidebarOpen } from "../stores/settings";
    const sidebar = document.getElementById("sidebar");

    $isSidebarOpen.subscribe((isOpen) => {
        if (isOpen) {
            sidebar?.classList.toggle("md:w-66", true);
            sidebar?.classList.toggle("w-full", true);
            sidebar?.classList.toggle("w-0", false);
        } else {
            sidebar?.classList.toggle("md:w-66", false);
            sidebar?.classList.toggle("w-full", false);
            sidebar?.classList.toggle("w-0", true);
        }
    })
</script>
